@model EntityLayer.Concrete.Company
@{
    ViewData["Title"] = "AddCompany";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
    @Html.Label("Firma Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </br>
    <button class="btn btn-primary">Firma Ekle</button>
</form>

